*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 75%; }
  @media only screen and (max-width: 61.3em) {
    html {
      font-size: 68.75%; } }
  @media only screen and (max-width: 28.13em) {
    html {
      font-size: 62.5%; } }

body {
  font-weight: 400;
  overflow-x: hidden; }

.container {
  display: grid;
  grid-template-rows: 10vh 90vh repeat(4, -webkit-min-content);
  grid-template-rows: 10vh 90vh repeat(4, min-content);
  grid-template-columns: minmax(6rem, 8rem) repeat(8, minmax(-webkit-min-content, 14rem)) minmax(6rem, 8rem);
  grid-template-columns: minmax(6rem, 8rem) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 8rem); }
  @media only screen and (max-width: 51.25em) {
    .container {
      grid-template-rows: 10vh repeat(5, -webkit-min-content);
      grid-template-rows: 10vh repeat(5, min-content); } }

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  padding: 1.5rem 8rem;
  display: flex;
  justify-items: center;
  border-bottom: 1px solid grey;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  @media only screen and (max-width: 51.25em) {
    .header {
      display: grid;
      grid-template-columns: 0.6fr 1fr 0.4fr;
      grid-gap: 1.4rem;
      padding: 0.8rem 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 0.8rem 3rem; } }
  .header__logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #333;
    margin-right: auto; }
    @media only screen and (max-width: 51.25em) {
      .header__logo {
        font-size: 2rem;
        grid-column: 1 / 2; } }
  .header__lists {
    list-style: none; }
    @media only screen and (max-width: 51.25em) {
      .header__lists {
        display: none;
        background-color: whitesmoke;
        padding: 2.5rem 5.2rem;
        grid-column: 2 / 3; } }
  .header__list {
    display: inline-block; }
    @media only screen and (max-width: 51.25em) {
      .header__list {
        display: block;
        margin: 0 !important;
        padding: 1.1rem; } }
    .header__list:not(:last-child) {
      margin-right: 2.1rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    padding: 1rem 0;
    padding-bottom: 0.8rem;
    font-weight: 700;
    transition: all 0.1s; }
  .header__link:hover, .header__link:active {
    border-bottom: 2px solid #3333ff; }
    @media only screen and (max-width: 51.25em) {
      .header__link:hover, .header__link:active {
        color: #3333ff;
        border: none; } }

.bigger-header {
  grid-row: 2 / 3;
  grid-column: 2 / 10;
  padding: 3.2rem 0;
  padding-bottom: 0.2rem; }
  @media only screen and (max-width: 61.3em) {
    .bigger-header {
      grid-column: 1 / -1;
      padding: 3.2rem 3.55rem; } }
  @media only screen and (max-width: 51.25em) {
    .bigger-header {
      padding: 2.4rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .bigger-header {
      padding: 2.4rem 5rem; } }
  @media only screen and (max-width: 28.13em) {
    .bigger-header {
      padding: 2.4rem 5rem; } }
  .bigger-header__wordcontent {
    grid-column: 1 / 2; }
    @media only screen and (max-width: 51.25em) {
      .bigger-header__wordcontent {
        margin-bottom: 1.2rem; } }
  .bigger-header__picturecontent {
    grid-column: 2 / 3;
    justify-self: end;
    -webkit-animation: moveInBottom 1s ease-out;
    animation: moveInBottom 1s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .bigger-header__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.2rem;
    padding: 1.2rem 0; }
    @media only screen and (max-width: 51.25em) {
      .bigger-header__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start; } }
  .bigger-header__link:link, .bigger-header__link:visited {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.6rem 2.5rem;
    background-color: #3333ff;
    border: 1px solid #3333ff;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s; }
    @media only screen and (max-width: 28.13em) {
      .bigger-header__link:link, .bigger-header__link:visited {
        margin-bottom: 0.9rem; } }
  .bigger-header__link:hover, .bigger-header__link:active {
    -webkit-animation: pulsate 1s infinite;
    animation: pulsate 1s infinite; }

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.social__link {
  display: inline-block;
  text-decoration: none; }

.social__icon {
  color: #333;
  font-size: 2.5rem;
  transition: all 0.1s; }

.social__icon:hover {
  color: #3333ff; }

.social__icons {
  padding: 0.6rem 0; }
  @media only screen and (max-width: 51.25em) {
    .social__icons {
      margin-top: 1.2rem; } }

.mr {
  margin-right: 1rem; }

.picture {
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 5px; }
  @media only screen and (max-width: 66.3em) {
    .picture {
      width: 90%; } }
  @media only screen and (max-width: 28.13em) {
    .picture {
      width: 98%; } }

.picture-container {
  background-color: #3333ff;
  padding: 1.5rem;
  padding-bottom: 0;
  height: 35rem;
  width: 35rem;
  -webkit-clip-path: polygon();
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 1% 100%, 0% 70%, 0% 35%, 0 0); }
  @media only screen and (max-width: 66.3em) {
    .picture-container {
      height: 32rem;
      width: 32rem; } }
  @media only screen and (max-width: 51.25em) {
    .picture-container {
      height: 35rem;
      width: 35rem; } }
  @media only screen and (max-width: 37.5em) {
    .picture-container {
      height: 30rem;
      width: 30rem; } }
  @media only screen and (max-width: 28.13em) {
    .picture-container {
      height: 25rem;
      width: 25rem; } }

.about-section {
  grid-column: 2 / 10;
  grid-row: 3 / 4;
  padding: 0.5rem 0; }
  @media only screen and (max-width: 66.3em) {
    .about-section {
      padding: 1rem 0; } }
  @media only screen and (max-width: 51.25em) {
    .about-section {
      grid-column: 1 / 10; } }

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1.5rem 5rem; }
  @media only screen and (max-width: 66.3em) {
    .about-content {
      padding: 2rem 5rem; } }
  @media only screen and (max-width: 61.3em) {
    .about-content {
      padding: 2rem 3rem; } }
  @media only screen and (max-width: 45em) {
    .about-content {
      padding: 2rem 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .about-content {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 2rem 3rem; } }
  @media only screen and (max-width: 28.13em) {
    .about-content {
      padding: 2rem 4rem; } }
  .about-content__picture {
    grid-column: 1 / 2;
    align-self: center;
    -webkit-animation: moveInBottom 0.6s ease-out;
    animation: moveInBottom 0.6s ease-out;
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .about-content__word {
    grid-column: 2 / 3; }

.pic {
  width: 60%;
  display: block;
  border-radius: 3px; }
  @media only screen and (max-width: 78.13em) {
    .pic {
      width: 70%; } }
  @media only screen and (max-width: 66.3em) {
    .pic {
      width: 80%; } }
  @media only screen and (max-width: 61.3em) {
    .pic {
      width: 82%; } }
  @media only screen and (max-width: 51.25em) {
    .pic {
      width: 90%; } }
  @media only screen and (max-width: 45em) {
    .pic {
      width: 93%; } }
  @media only screen and (max-width: 37.5em) {
    .pic {
      width: 65%; } }
  @media only screen and (max-width: 28.13em) {
    .pic {
      width: 80%; } }

.bb {
  border-bottom: 2px solid #3333ff; }

.mt {
  margin-top: 2rem !important; }
  @media only screen and (max-width: 51.25em) {
    .mt {
      color: #fff; } }

.heading {
  display: grid;
  grid-template-columns: 0.6 1fr;
  grid-gap: 1rem;
  padding: 1rem 0;
  padding-bottom: 1rem; }
  @media only screen and (max-width: 28.13em) {
    .heading {
      padding: 1rem 5rem; } }

.skills-section {
  grid-row: 4 / 5;
  grid-column: 2 / 10;
  padding: 1rem 0; }
  @media only screen and (max-width: 66.3em) {
    .skills-section {
      grid-column: 1 / -1;
      padding: 1rem 3rem; } }
  @media only screen and (max-width: 61.3em) {
    .skills-section {
      padding: 1rem 2.5rem; } }
  @media only screen and (max-width: 51.25em) {
    .skills-section {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/skills2.jpg);
      background-position: center;
      background-size: cover;
      overflow: hidden;
      padding: 1.8rem 4rem;
      margin-top: 3rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .skills-section {
      padding: 1.8rem 3rem; } }
  @media only screen and (max-width: 28.13em) {
    .skills-section {
      padding: 1.3rem; } }

.skills-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  padding: 1.5rem; }
  @media only screen and (max-width: 61.3em) {
    .skills-content {
      padding: 1.2rem; } }
  @media only screen and (max-width: 51.25em) {
    .skills-content {
      display: block; } }
  @media only screen and (max-width: 28.13em) {
    .skills-content {
      padding: 1rem 0.9rem; } }
  .skills-content__word {
    grid-column: 1 / 2; }
  .skills-content__picture {
    grid-column: 2 / 3;
    justify-self: end !important; }
    @media only screen and (max-width: 61.3em) {
      .skills-content__picture {
        justify-self: center !important; } }
    @media only screen and (max-width: 51.25em) {
      .skills-content__picture {
        display: none; } }

.skills-columns {
  padding: 1.5rem 0; }

.skills-column {
  background-color: whitesmoke;
  box-shadow: 0 1rem 1rem #6e6d6d;
  border-radius: 3px;
  padding: 1.5rem 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-items: center; }
  @media only screen and (max-width: 28.13em) {
    .skills-column {
      padding: 1.1rem 0.8rem; } }

.skills-icon {
  margin-right: 1rem;
  color: #3333ff;
  font-size: 2rem; }
  @media only screen and (max-width: 28.13em) {
    .skills-icon {
      font-size: 1.8rem;
      margin-right: 0.8rem; } }

.skills-con {
  padding: 1.1rem 0; }

.skills-percentage {
  font-size: 1.8rem;
  color: #333; }
  @media only screen and (max-width: 28.13em) {
    .skills-percentage {
      font-size: 1.6rem; } }

.skills-pic {
  width: 100%;
  display: block;
  margin-left: 6rem;
  border-radius: 3px;
  margin-top: 5rem; }
  @media only screen and (max-width: 66.3em) {
    .skills-pic {
      width: 92%; } }
  @media only screen and (max-width: 61.3em) {
    .skills-pic {
      width: 98%; } }

.thelength {
  border-radius: 3px;
  height: 7px;
  width: 70%;
  display: block;
  background-color: #3333ff; }

.thelength2 {
  border-radius: 3px;
  height: 7px;
  width: 40%;
  display: block;
  background-color: #3333ff; }

.thelength3 {
  border-radius: 3px;
  height: 7px;
  width: 30%;
  display: block;
  background-color: #3333ff; }

.thelength4 {
  border-radius: 3px;
  height: 7px;
  width: 75%;
  display: block;
  background-color: #3333ff; }

.download:link,
.download:visited {
  display: inline-block;
  margin-top: 4rem;
  text-decoration: none;
  color: #fff;
  padding: 0.6rem 1.5rem;
  background-color: #3333ff;
  border: 1px solid #3333ff;
  border-radius: 50px;
  transition: all 0.2s;
  -webkit-animation: moveInRight 0.6s ease-in;
  animation: moveInRight 0.6s ease-in;
  -webkit-animation-delay: 4.7s;
  animation-delay: 4.7s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.download:hover,
.download:active {
  -webkit-animation: pulsate 1s infinite;
  animation: pulsate 1s infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.download-icon {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 1rem;
  display: inline-block; }

.download-text {
  font-size: 1.5rem;
  display: inline-block; }

.projects-section {
  grid-row: 5 / 6;
  grid-column: 2 / 10;
  padding: 2rem 0;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 51.25em) {
    .projects-section {
      grid-column: 1 / -1;
      padding: 2rem 2rem; } }
  @media only screen and (max-width: 45em) {
    .projects-section {
      padding: 2rem 4rem; } }
  @media only screen and (max-width: 28.13em) {
    .projects-section {
      padding: 2rem 3rem; } }

.contact-section {
  grid-row: 6 / 7;
  grid-column: 1/ -1;
  padding: 2rem 4rem;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url(../images/contact-img.jpg);
  background-size: cover;
  overflow: hidden;
  background-position: center; }
  @media only screen and (max-width: 51.25em) {
    .contact-section {
      margin-top: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .contact-section {
      padding: 2rem 2rem; } }

.contact-content {
  margin: 2.5rem auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  @media only screen and (max-width: 45em) {
    .contact-content {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; } }
  @media only screen and (max-width: 37.5em) {
    .contact-content {
      width: 100%; } }

.contact-content1 {
  text-align: center;
  padding: 0.5rem 11rem; }
  @media only screen and (max-width: 45em) {
    .contact-content1 {
      padding: 0.5rem 5rem; } }

.contact-content2 {
  grid-column: 2 / 3;
  padding: 0.5rem 0; }

.contact-lists {
  list-style: none; }

.contact-list {
  padding: 1.5rem 0;
  display: flex;
  align-items: center; }

.contact-span {
  font-size: 1.5rem;
  color: #fff;
  display: inline-block; }

.contact-icon {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  background-color: #3333ff;
  border-radius: 50%;
  font-size: 1.8rem;
  margin-right: 1.6rem;
  color: #333;
  text-align: center;
  padding: 1.5rem; }

.contact-name {
  padding: 1rem 0; }

.contact-email {
  padding: 1rem 0; }

.contact-message {
  padding: 1rem 0; }

.contact-submit {
  padding: 2rem 0;
  text-align: center; }

#name {
  padding: 0.8rem 1rem;
  border-radius: 20px;
  width: 38rem;
  border: 2px solid #333; }
  #name:focus {
    border: 2px solid #333; }

#email {
  padding: 0.8rem 1rem;
  border-radius: 20px;
  width: 38rem;
  border: 2px solid #333; }
  #email:focus {
    border: 2px solid #333; }

.message-box {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  width: 38rem;
  height: 18rem;
  border: 2px solid #333; }
  .message-box:focus {
    border: 2px solid #333; }

input {
  color: #333;
  font-size: 1.26rem; }

textarea {
  color: #333;
  font-size: 1.26rem; }

::-webkit-input-placeholder {
  font-size: 1.26rem;
  color: #333; }

input[type="submit"] {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.6rem 2.5rem;
  background-color: #3333ff;
  border: 1px solid #3333ff;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s; }
  input[type="submit"]:hover {
    -webkit-animation: pulsate 1s infinite;
    animation: pulsate 1s infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.footer {
  background-color: black;
  grid-row: 7 / 10;
  grid-column: 1 / -1;
  padding: 2.5rem 8rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 2.5rem 2.7rem; } }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    display: inline-block;
    margin-right: 1rem;
    border: none;
    transition: all 0.1s; }
  .footer__link:hover, .footer__link:active {
    transform: scale(1.15); }
  .footer__icon {
    color: #fff;
    font-size: 2rem; }
  .footer__icons {
    padding: 0.9rem; }

.logo-color {
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
  padding: 0.9rem 0; }

.copyright {
  font-size: 1.6rem;
  color: #fff;
  padding: 0.9rem 0; }
  @media only screen and (max-width: 37.5em) {
    .copyright {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 28.13em) {
    .copyright {
      font-size: 1.29rem; } }

.projects-pic {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem #333; }
  @media only screen and (max-width: 61.3em) {
    .projects-pic {
      width: 104%; } }
  @media only screen and (max-width: 51.25em) {
    .projects-pic {
      width: 105.5%; } }
  @media only screen and (max-width: 45em) {
    .projects-pic {
      width: 100%; } }

.projects__link:link, .projects__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #3333ff;
  padding: 1.1rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0.5rem 1rem #333;
  margin-top: 3rem;
  text-align: center; }
  @media only screen and (max-width: 45em) {
    .projects__link:link, .projects__link:visited {
      margin-top: 1rem; } }
  @media only screen and (max-width: 28.13em) {
    .projects__link:link, .projects__link:visited {
      margin-top: 0.8rem; } }

.projects__link:hover, .projects__link:active {
  transform: scale(1.05); }

.projects__link2:link, .projects__link2:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #3333ff;
  padding: 1.1rem;
  border: 2px solid #3333ff;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem #333;
  margin-top: 3rem;
  text-align: center; }
  @media only screen and (max-width: 45em) {
    .projects__link2:link, .projects__link2:visited {
      margin-top: 1rem; } }
  @media only screen and (max-width: 28.13em) {
    .projects__link2:link, .projects__link2:visited {
      margin-top: 0.8rem; } }

.projects__link2:hover, .projects__link2:active {
  transform: scale(1.05); }

.projects__paragraph {
  font-size: 1.4rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 28.13em) {
    .projects__paragraph {
      margin-top: 0.8rem; } }

.projects__columns {
  padding: 1.5rem 0; }

.projects__picture-container {
  grid-column: 1 / 2; }

.projects__content {
  grid-column: 2 / 3;
  padding: 4rem; }
  @media only screen and (max-width: 66.3em) {
    .projects__content {
      padding: 2rem; } }
  @media only screen and (max-width: 61.3em) {
    .projects__content {
      padding: 1.8rem; } }
  @media only screen and (max-width: 51.25em) {
    .projects__content {
      padding-left: 2rem; } }
  @media only screen and (max-width: 45em) {
    .projects__content {
      padding: 1.1rem; } }
  @media only screen and (max-width: 28.13em) {
    .projects__content {
      padding: 1rem; } }

.project {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
  border-radius: 20px;
  box-shadow: 0 0.8rem 1rem #333;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  -webkit-animation: moveInBottom 0.6s ease-in;
  animation: moveInBottom 0.6s ease-in;
  -webkit-animation-delay: 9.1s;
  animation-delay: 9.1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
  @media only screen and (max-width: 66.3em) {
    .project {
      padding: 1.2rem; } }
  @media only screen and (max-width: 45em) {
    .project {
      display: flex;
      flex-direction: column;
      justify-items: center;
      padding: 1.8rem; } }
  @media only screen and (max-width: 28.13em) {
    .project {
      padding: 1.2rem; } }

.project2 {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
  border-radius: 20px;
  box-shadow: 0 0.8rem 1rem #333;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  -webkit-animation: moveInBottom 0.6s ease-in;
  animation: moveInBottom 0.6s ease-in;
  -webkit-animation-delay: 9.7s;
  animation-delay: 9.7s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
  @media only screen and (max-width: 66.3em) {
    .project2 {
      padding: 1.2rem; } }
  @media only screen and (max-width: 45em) {
    .project2 {
      display: flex;
      flex-direction: column;
      justify-items: center;
      padding: 1.8rem; } }
  @media only screen and (max-width: 28.13em) {
    .project2 {
      padding: 1.2rem; } }

.heading-primary {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 66.3em) {
    .heading-primary {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 61.3em) {
    .heading-primary {
      font-size: 2.85rem; } }
  @media only screen and (max-width: 51.25em) {
    .heading-primary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 28.13em) {
    .heading-primary {
      font-size: 2.47rem; } }

.span1 {
  display: block; }

.span2,
.span3 {
  display: block;
  margin-top: 0.5rem; }

.span4 {
  color: #3333ff; }

.heading-secondary {
  color: #3333ff;
  font-weight: 700;
  font-size: 2.1rem;
  padding: 1rem 0;
  border-bottom: 2px solid #3333ff;
  display: inline-block;
  width: 5.7rem;
  grid-column: 2 / 3; }
  @media only screen and (max-width: 28.13em) {
    .heading-secondary {
      justify-self: flex-start;
      grid-column: 1 / 2; } }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 5rem; }
  @media only screen and (max-width: 51.25em) {
    .heading-tertiary {
      margin-bottom: 1.2rem;
      margin-top: 4rem; } }

.heading-paragraph {
  font-size: 1.42rem;
  color: gray; }
  @media only screen and (max-width: 51.25em) {
    .heading-paragraph {
      font-size: 1.5rem; } }

.heading-lowest {
  font-size: 1.5rem;
  color: #333;
  margin-right: auto; }
  @media only screen and (max-width: 28.13em) {
    .heading-lowest {
      font-size: 1.4rem; } }

.wds {
  width: 4.77rem; }

.heading-wdl {
  display: inline-block;
  font-weight: 700;
  font-size: 2.1rem;
  text-align: center;
  color: #3333ff;
  padding: 1rem;
  border-bottom: 2px solid #3333ff;
  width: 16%;
  margin-left: 42%;
  margin-right: 42%; }
  @media only screen and (max-width: 84.38em) {
    .heading-wdl {
      width: 18%;
      margin-left: 41%;
      margin-right: 41%; } }
  @media only screen and (max-width: 66.3em) {
    .heading-wdl {
      width: 20%;
      margin-left: 40%;
      margin-right: 40%; } }
  @media only screen and (max-width: 61.3em) {
    .heading-wdl {
      width: 22%;
      margin-left: 39%;
      margin-right: 39%; } }
  @media only screen and (max-width: 51.25em) {
    .heading-wdl {
      width: 25%;
      margin-left: 37.5%;
      margin-right: 37.5%; } }
  @media only screen and (max-width: 45em) {
    .heading-wdl {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%; } }
  @media only screen and (max-width: 37.5em) {
    .heading-wdl {
      width: 41.8%;
      margin-left: 29.1%;
      margin-right: 29.1%; } }

.heading-wdm {
  display: inline-block;
  font-weight: 700;
  font-size: 2.1rem;
  text-align: center;
  color: #3333ff;
  padding: 1rem 0;
  border-bottom: 2px solid #3333ff;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%; }
  @media only screen and (max-width: 51.25em) {
    .heading-wdm {
      width: 15%;
      margin-left: 42.5%;
      margin-right: 42.5%; } }
  @media only screen and (max-width: 37.5em) {
    .heading-wdm {
      width: 22%;
      margin-left: 39%;
      margin-right: 39%; } }
  @media only screen and (max-width: 28.13em) {
    .heading-wdm {
      width: 26%;
      margin-left: 37%;
      margin-right: 37%; } }

.projects__btn:link,
.projects__btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #3333ff;
  color: #333;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem #333;
  margin-top: 3rem;
  text-align: center;
  transition: all 0.1s; }
  @media only screen and (max-width: 28.13em) {
    .projects__btn:link,
    .projects__btn:visited {
      margin-top: 2rem; } }
  .projects__btn:link:hover, .projects__btn:link:active,
  .projects__btn:visited:hover,
  .projects__btn:visited:active {
    transform: scale(1.1); }

.projects__btn-box {
  text-align: center;
  padding: 1rem; }

.nav-icon {
  font-size: 2.8rem;
  display: none;
  color: #333;
  cursor: pointer; }
  @media only screen and (max-width: 51.25em) {
    .nav-icon {
      display: block; } }

.active {
  display: block; }

.navbar {
  grid-column: 3 / 4; }
